!.keep
*.DS_Store
*.swo
*.swp
/.foreman
/coverage/*
/public/system
/tags

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore compiled assets.
/public/assets
.sass-cache/

node_modules
.env
secrets
