button,
.btn,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn.btn--wide {
  border-radius: 8px;
  width: 100%;
}

.btn--float-right {
  input[type="submit"] {
    float: right;
  }
}

