.app-header {
  padding: 0 2em;

  &__title {
    display: inline-block;
  }

  &__link {
    color: white;
  }

  &__nav {
    display: inline-block;
    float: right;
    margin-top: 0.5em;

    * + * {
      margin-left: 1em;
    }
  }
}
