.book {
  @include span-columns(2);
  @include omega(6n);

  // @include span-columns(6);
  // @include omega(2n);

  @include media(new-breakpoint(max-width 750px min-width 400px)) {
    @include span-columns(4);
    @include omega-reset(6n);
    @include omega(3n);
  }

  @include media(new-breakpoint(max-width 400px)) {
    @include span-columns(6);
    @include omega(2n);
    @include omega-reset(3n);
  }

  height: 100%;

  // @include media($mobile) {
  //   @include span-columns(4);
  //   @include omega-reset(2n);
  //   @include omega(3n);
  // }

  // @include media($tablet) {
  //   @include span-columns(2);
  //   @include omega-reset(3n);
  //   @include omega(6n);
  // }

  & > a {
    color: black;
  }

  &__title {
    font-size: 90%;
  }

  &__author {
    font-size: 80%;
  }

  &__cover {
    max-height: 170px;
  }
}
