.category-nav {
  height: 100%;
  padding: ($large + $small) 0 0 $large;

  border-right: $nav-border;
}

.category-nav__item {
  margin-bottom: 1em;

  a {
    color: $light-gray;
  }
}

.category-nav__item--selected {
  font-weight: 700;

  a {
    color: $dark-gray;
  }
}

.category-nav__title {
  margin-bottom: 1.7em;
  font-size: 26px;
  font-weight: $thin;
  line-height: 50.625px;
}
