.comment {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;

  &:not(.comment--reply) {
    border-bottom: 1px solid $faint-gray;
  }

  span {
    letter-spacing: 1px;
    font-size: $base-font-size--small;
    line-height: $base-line-height--small;
    color: $base-accent-color;

    &.comment__author {
      font-weight: $bold;
    }

    &.comment__date {
      color: $light-gray;
    }
  }

  & > p {
    margin-top: 2px;
    margin-bottom: ($base-spacing / 4);
  }

  & > a {
    color: rgba(0, 0, 0, 0.5);
    font-size: $base-font-size--small;

    &:hover {
      color: $medium-gray;
    }
  }

  & > .comments {
    margin-left: 1em;
    border-left: 1px solid $faint-gray;
    padding-left: 1.5em;
  }
}
