.comment {
  padding: 1em 1em 0;

  background-color: #ccc;
  &:not(.comment--reply) {
    border-bottom: 1px solid $faint-gray;
  }

  & > a {
    font-weight: 700;
  }

  & > .comments {
    margin-left: 1em;
  }
}
