.expandable-section {
  position: relative;
}

.expandable-section__body {
  max-height: 18em;
  overflow: hidden;

  transition: max-height 0.5s;
}

.expandable-section__expand-link {
  bottom: 0;
  width: 100%;
  display: inline-block;

  background-color: white;
  cursor: pointer;

  text-align: right;
  font-weight: 500;
  color: $expandable-link-color;

  &:hover {
    color: $hover-expandable-link-color;
  }
}
