.expandable-section {
  max-height: 18em;
  overflow: hidden;
  position: relative;

  transition: max-height 0.5s;

  &__expand-link {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: white;
    cursor: pointer;

    text-align: right;
    text-decoration: underline;
    font-weight: 700;
    color: $medium-gray;
  }
}
