.right-arrow {
  &:after {
    content: "\203A";
    margin-left: 3px;
  }
}

.left-arrow {
  &:before {
    content: "\2039";
    margin-right: 3px;
  }
}

.right-arrow:after, .left-arrow:before {
  position: relative;
  top: -1px;
  line-height: 1;
  display: inline-block;
}

.accent-link, .editor-comments a {
  color: $base-accent-color;

  &:hover {
    color: darken($base-accent-color, 10);
  }
}

.small-caps-link {
  text-transform: uppercase;
  font-size: $base-font-size--small;
  letter-spacing: 1px;
}

.secondary-link {
  font-weight: $bold;
  text-decoration: underline;
}