.modal__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000000;
  opacity: 0.8;
}

.modal__dialog {
  z-index: 10000;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 30px;

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.modal__header {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.modal__content {
  padding: 20px 10px;
  text-align: left;
}

