.nav {
  display: inline-block;
  float: right;

  font-size: $base-font-size--small;
  text-transform: uppercase;
  letter-spacing: 1.2px;

  & > * + * {
    margin-left: 3em;
  }

  li {
    display: inline-block;
  }

  &__link {
    display: inline-block;

    line-height: $primary-header-height;
  }

  &__dropdown-link {
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    padding: 0 2em;
    right: 0;

    background-color: white;
    transition: max-height 0.3s;

    &--is-expanded {
      max-height: $primary-header-height;
    }
  }

  &__dropdown--form {
    @extend .nav__dropdown;
    padding: 0 1em;

    &--is-expanded {
      max-height: 143px;
    }
  }
}
