.primary-header {
  padding: 0 2em;
  border-bottom: $nav-border;

  &__inner {
    display: inline;
  }

  &__logo {
    display: inline-block;
    font-size: $base-font-size;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: $primary-header-height;
  }
}
