.primary-header {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid $medium-gray;

  &__inner {
    @include outer-container;
  }

  &__logo {
    display: inline-block;

    font-size: $base-font-size;
    text-transform: uppercase;
  }

  &__nav {
    display: inline-block;
    float: right;

    font-size: $base-font-size--small;
    text-transform: uppercase;

    * + * {
      margin-left: 3em;
    }
  }
}
