$cover-width: 50px;

%result-text {
  display: inline-block;
  width: 100%;
  padding-left: $cover-width + 15;
}

.search-result-block {
  min-height: 75px;
  padding: 18px 0 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  line-height: 1.1;
  color: $dark-gray;

  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: darken($medium-gray, 10);
  }

}

.search-result {
  &__cover {
    position: absolute;
    width: $cover-width;
  }

  &__title {
    @extend %result-text;
    line-height: 1.5;
    font-weight: $bold;
  }

  &__authors {
    @extend %result-text;
    font-size: 90%;
    margin: 4px 0 0;
  }

  & > img {
    margin-top: 5px;
  }
}
