.section {
  @include outer-container();

  max-width: 80%;
  margin: 0 auto;

  @include media(new-breakpoint(max-width 1000px min-width 750px)) {
    max-width: 90%;
    padding-left: $medium;
    padding-right: $medium;
  }

  &__header {
    @include clearfix;
    padding: 0.5em 0;
  }

  &__title {
    float: left;
  }

  &__link {
    float: right;
    clear: none;
    font-weight: $semi-bold;

    & > img {
      margin-left: 6px;
      vertical-align: middle;
      bottom: 2px;
      width: 12px;
      height: 12px;
    }
  }

  &__content {
    padding: 1em 0;
  }
}

.section--hero {
  background-size: 100% auto;
  text-align: center;
  color: white;

  height: 230px;
  @include background-image(linear-gradient(-90deg, rgba(59,59,59,0.69) 0%, rgba(74,74,74,0.9) 52%, rgba(0,0,0,0.69) 100%), image-url("home-hero.png"));
  background-position: center 15%;
 }

.hero__title {
  padding-top: 55px;
  font-weight: $thin;
}
