.section {
  @include outer-container();

  max-width: 80%;
  margin: 0 auto;

  @include media(new-breakpoint(max-width 1000px min-width 750px)) {
    max-width: 90%;
    padding-left: $medium;
    padding-right: $medium;
  }

  &__header {
    @include clearfix;
    padding: 0.5em 0;
  }

  &__title {
    float: left;
  }

  &__link {
    float: right;
    clear: none;
    font-weight: $semi-bold;

    & > img {
      margin-left: 6px;
      vertical-align: middle;
      bottom: 2px;
      width: 12px;
      height: 12px;
    }
  }

  &__content {
    padding: 1em 0;
  }
}

.section--hero {
  background-size: 105% auto;
  text-align: center;
  color: white;


  height: 280px;
  @include background-image(image-url("hero-blurred.png"));
  background-position: center 45%;
 }

.hero__title {
  padding-top: 65px;
  padding-bottom: 28px;

  letter-spacing: 12px;
  font-weight: $thin;
  font-size: $large + $small;

  text-transform: uppercase;
}

.hero__subtitle {
  letter-spacing: 1.2px;
  font-weight: 300;
  font-size: 24px;
}
