header {
  width: 100%;
}

main {
  height: 100%;
  padding-bottom: 100px;
}

.l-constrained {
  @include outer-container;

  max-width: 60%;
  margin-top: $xl;
  margin-left: auto;
  margin-right: auto;
}

.l-wide {
  @include fill-parent;
}

.l-side-section {
  @include span-columns(3);
}

.l-main-section {
  & > * + * {
    padding-top: $large;
  }
}

.l-main-section--constrained {
  @extend .l-main-section;
  @include outer-container();
  @include span-columns(9);
  padding-left: 40px;
}
