header {
  width: 100%;
}

main {
  height: 100%;
  padding-bottom: 100px;
}

.l-constrained {
  @include outer-container;

  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.l-outer-container {
  @include outer-container;
}

.l-side-section {
  @include span-columns(3);
}

.l-main-section {
  margin-top: $xl;

  & > * + * {
    padding-top: 60px;
  }
}

.l-main-section--constrained {
  @include span-columns(9);

  margin-right: 0;
  padding-left: 40px;

  & > * + * {
    margin-top: $large;
  }
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
