header {
  width: 100%;
}

main {
  height: 100%;
}

.l-constrained {
  @include outer-container;

  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.l-outer-container {
  @include outer-container;
}

.l-side-section {
  @include span-columns(2.5);
}

.l-side-section--light {
  @extend .l-side-section;
  background-color: #f1eee5;
}

.l-main-section {
  margin-top: 60px;

  & > * + * {
    padding-top: 60px;
  }
}

.l-main-section--constrained {
  @include outer-container;
  @include span-columns(9);

  margin-right: 0;
  padding-left: 20px;

  & > * + * {
    margin-top: $large;
  }
}

.l-main-section--constrained--with-side-nav {
  @include span-columns(9.5);
  padding: 0 20px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}
