.mt--small {
  margin-top: $small;
}

.mt--large {
  margin-top: $large;
}

.mt--xl {
  margin-top: $xl;
}

.d-inline {
  display: inline;
}

.ta-c {
  text-align: center;
  float: none;
}

.pull-left {
  float: left;
}