// Colors
///////////////////////////////////////////////////////////////////////////////
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $dark-gray;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 15);

// Background Color
$base-background-color: white;


// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "freight-sans-pro", sans-serif;
$serif: "freight-text-pro", serif;
$base-font-family: $serif;
$header-font-family: $sans-serif;

