// Colors
///////////////////////////////////////////////////////////////////////////////
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $dark-gray;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 15);

// Background Color
$base-background-color: white;


// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: "freight-sans-pro", sans-serif;
$serif: "freight-text-pro", serif;
$base-font-family: $sans-serif;
$header-font-family: $sans-serif;

// Font sizes
$title-size--small:   em(24);
$title-size:          em(32);
$title-size--medium:  em(40);
$title-size--large:   em(48);

// Margin + Padding Sizes
$small:   10px;
$medium:  20px;
$large:   40px;
$xl:      80px;

$primary-header-height: 58px;
